/* padding */
.pd5 { padding: 5px; }
.pd10 { padding: 10px; }
.pd15 { padding: 15px; }
.pd20 { padding: 20px; }

.pa-sm { padding: 8px; }
.pa-md { padding: 16px; }
.pa-lg { padding: 24px; }
.pl-sm { padding-left: 8px; }
.pl-md { padding-left: 16px; }
.pl-lg { padding-left: 24px; }
.pr-sm { padding-right: 8px; }
.pr-md { padding-right: 16px; }
.pr-lg { padding-right: 24px; }
.pt-sm { padding-top: 8px; }
.pt-md { padding-top: 16px; }
.pt-lg { padding-top: 24px; }
.pb-sm { padding-bottom: 8px; }
.pb-md { padding-bottom: 16px; }
.pb-lg { padding-bottom: 24px; }

/* font */
.ft12 {font-size: 12px;}
.ft14 {font-size: 14px;}
.ft20 {font-size: 20px;}

.ft-sm {font-size: 16px;}
.ft-md {font-size: 20px;}
.ft-lg {font-size: 24px;}

/* margin */
.mt5 {margin-top: 5px;}

/* background-color */
.bg-white {background-color: white;}
.bg-default {background-color: white;}

/* width */
.w90p{width:90%;}

/* flex */
.flex {
  display: flex;
  align-items: center;
}